/* QuestionButton.css */

.question-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  padding: 8px 12px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: grey;
  color: #333;
  cursor: pointer;
}

.answered {
  background-color: red;
  color: white;
}

.visited {
  background-color: green;
  color: white;
}

.active {
  background-color: blue;
  color: white;
}
